header {
    height: 100px;
    width: 100%;
    background-color: $header-background;

    .contacts {
        height: 40px;
        // @include flex(flex-end, center);
        display: flex;
        justify-content: flex-end;
        align-items: center;

        a {
            padding: $spacing;
            color: #989898;
            text-decoration: none;

            &:hover {
                color: $primary-color;
                text-decoration: underline;
            }

            i {
                color: rgb(0, 156, 255);
            }
        }
    }

    nav {
        height: 60px;
        display: flex;
        align-items: center;

        ul {
            list-style-type: none;
            margin: 0;

            li {
                display: inline-block;

                a {
                    text-decoration: none;
                    padding: $spacing * 1.1 $spacing;
                    color: $primary-color;

                    &:hover {
                        text-decoration: none;
                        background-color: $primary-color;
                        color: $secondary-color;

                    }
                }
            }
        }

    }
}
